<!DOCTYPE html>
<html>
<head>
    <title>Ascii-art Web Project</title>
</head>
<body>

    <form method="post" action="/ascii-art">
        
        <!-- Text input-->
        <label for="text">Enter text:</label>
        <input type="text" id="text" name="text">

        <br><br>

        <!-- Radio buttons -->
        <p>Select a banner</p>

        <input type="radio" id="shadow" name="banner" value="shadow">
        <label for="shadow">Shadow</label>

        <input type="radio" id="standard" name="banner" value="standard">
        <label for="standard">Standard</label>

        <input type="radio" id="thinkertoy" name="banner" value="thinkertoy">
        <label for="thinkertoy">Thinkertoy</label>

        <br><br>

        <!-- Radio buttons -->
        <button type="submit">Submit</button>


    </form>

</body>

</html>